/* html START */

  html {
    font-size: 18px;
    color: #4d5c59;
    font-family: "libre baskerville" serif;
  }

/* html END */

/* body START */

  body {
    margin: 0;
    padding: 0;
    background-color: #fff9f1;
    display: block;
  }

/* body END */

/* header START */

  header {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: #fff9f1;
    z-index: 100;
  }

/* header END */

/* site-container START */

  .site-container {
    position: relative;
    top: 35px;
    display: flex;
    flex-direction: column;
  }

/* site-container END */

/* wic_logo START */

  .wic_logo {
    display: flex;
    flex-direction: row;
  }

  .wic_logo img {
    height: auto;
    width: auto;
  }

  .wic_logo {
    display: flex;
    align-items: center;
    }
  }

  .wic_logo span {
    font-size: 25px;
    color: #4a4a4a;
    font-family: garamond;
    padding-left: 5px;
    font-weight: bold;
  }

  @media only screen and (max-width: 850px) and (min-width: 470px) {
    .wic_logo {
      width: 100%;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 470px) {
    .wic_logo {
      display: none;
    }
  }

/* wic_logo END */

/* header-container START */

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
  }

/* header-container END */

/* wic-logo START */



/* wic-logo END */

/* nav START */



/* nav END */

/* nav_items START */

  .nav_items {
    margin: 0;
    padding: 0;
    width: 70%;
  }

  @media only screen and (max-width: 850px) and (min-width: 470px) {
    .nav_items {
      display: none;
      width: 100%;
    }
  }

  @media only screen and (max-width: 470px) {
    .nav_items {
      width: 100%;
    }
  }
/* nav_items END */

/* desktop START */

  .desktop a {
    color: #4a4a4a;
    text-decoration: none;
  }

  .desktop li {
    list-style: none;
    padding: 1.25px 5px;
  }

  .desktop ul {
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    float: right;
  }

  @media only screen and (max-width: 850px) {
    .desktop {
      display: none;
    }
  }

/* desktop END */

/* mobile START */

  .mobile {
    width: 100%;
    text-align: center;
  }

  .mobile a {
    color: black;
    font-style: normal;
    text-decoration: none;
  }

  @media only screen and (min-width: 470px) {
    .mobile {
      display: none;
    }
  }

/* mobile END */

/* about_the_comp START */

  #about_the_comp {
    padding: 0px 10px;
  }

/* about_the_comp END */

/* media START */

 #media {
   padding: 0px 10px;
 }

/* media END */

/* contacts START */

  #contacts {
    padding: 0px 10px;
  }

/* contacts END */

/* contact_1_banner START */

  .contact_1_banner {
    padding: 5px 0px;
    height: 50%;
    background-image: url("../../resources/images/african_print_1.jpg");
    background-size: cover;
    background-position: center;
  }

/* contact_1_banner END */

/* contact_2_banner START */

  .contact_2_banner {
    padding: 5px 0px;
    height: 50%;
    background-image: url("../../resources/images/african_print_4.jpg");
    background-size: cover;
    background-position: center;
  }

/* contact_2_banner END */

/* contact_3_banner START */

 .contact_3_banner {
   padding: 5px 0px;
   height: 50%;
   background-image: url("../../resources/images/african_print_3.jpg");
   background-size: cover;
   background-position: center;
 }

/* contact_3_banner END */

/* contact_4_banner START */

 .contact_4_banner {
   padding: 5px 0px;
   height: 50%;
   background-image: url("../../resources/images/african_print_2.jpg");
   background-size: cover;
   background-position: center;
 }

/* contact_4_banner END */

/* our_impact START */

  #our_impact {
    padding: 0px 10px;
  }

/* our_impact END */

/* the_sadc START */



/* the_sadc END */

/* sadc_montage START */



/* sadc_montage END */

/* sdg START */

  .sdg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* sdg END */

/* sdg_text START */

  .sdg_text {
    width: 100%;
  }

/* sdg_text END */

/* sdg_icons_container START */

  .sdg_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    padding: 5px;
  }

/* sdg_icons_container END */

/* sdg_icon_container START */

  .sdg_icon_container {
    width: 15%;
    display: block;
    justify-content: space-between;
  }

  .sdg_icon_container img {
    width: 100%;
    padding: 0;
  }

/* sdg_icon_container END */

/* footer START */

  .footer {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
  }

  footer {
   display: flex;
   flex-direction: row;
   width: 95%;
   justify-content: space-between;
 }

/* footer END */

/* footer-text START */

  }
  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text span {
    font-size: 18px;
    color: #4a4a4a;
    font-family: garamond;
  }


  @media only screen and (max-width: 470px) {
    .footer-text {
      display: none;
    }

/* footer-text END */

/**/

  .footer-logo span {
    padding-left: 10px;
    font-size: 18px;
    color: #4a4a4a;
    font-family: garamond;
  }

/* footer-logo END */

/* copyright START */



/* copyright END */
