html {
  min-height: 100%;
}

.wic-logo {
  width: 10%;
  height: auto;
  margin: 2px;
  position: absolute;
  top: 9%;
  left: 4.5%;
  transform: translate(-50%, -50%);
}

.wic-logo img {
  height: auto;
  width: 100%;
}

.site-container, .progress-container {
  z-index: 1;
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-container .container {
  padding: 0px;
}

.nav-desktop {
  width: 30%;
  height: 70%;
  padding: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.nav-hidden {
  transform: translate(-252%, -50%);
  z-index: 11;
  transition-duration: 1.5s;
}

.nav-show {
  transform: translate(-165%, -50%);
  z-index: 11;
  transition-duration: 1.5s;
}

.nav-desktop .container, .nav-desktop .row, .nav-desktop .row .col-md-9, .nav-desktop .row .col-md-3, nav {
  height: 100%;
}

.nav-desktop .row .col-md-3 {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  padding: 0px 0px;
}

nav {
  display: flex;
  flex-direction: column;
}

.menu {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu span {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

nav ul {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding-left: 0px;
}

.nav-desktop a {
  min-height: 100%;
  min-width: 100%;
  text-decoration: none;
  color: black;
  padding: 6px;
  display: flex;
  align-items: center;
}

.nav-desktop li {
  height: 12.5%;
  list-style-type: none;
  display: flex;
}

.nav-arrow-container {
  z-index: 10;
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-arrow-container a {
  z-index: 10;
  cursor: pointer;
}

.nav-arrow-container a:hover {
  color: green;
}

li {
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.home-nav {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 80%;
  height: 100%;
  margin: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 12.5%;
  cursor: pointer;
}

.about-wic-banner, .our-impact-banner, .media-banner, .news-and-events-banner, .about-us-banner, .our-partners-banner, .our-portfolio-banner, .disclaimer-banner {
  z-index: 2;
}

.about-wic-homescreen {
  /*background-image: url("../../resources/images/banners/kilimanjaro.jpg");*/
}

.text {
  display: flex;
  flex-direction: column;
  height: 0%;
  width: 100%;
  overflow: hidden;
}

.our-impact-homescreen {
  /*background-image: url("../../resources/images/banners/zambezi-river.jpg");*/
}

.media-homescreen {
  /*background-image: url("../../resources/images/banners/serengeti-national-park.jpg");*/
}

.news-and-events-homescreen {
  /*background-image: url("../../resources/images/banners/kirstenbosch-botanical-gardens.jpg");*/
}

.about-us-homescreen {
  /*background-image: url("../../resources/images/banners/addo-elephant-national-park.jpg");*/
}

.our-partners-homescreen {
  /*background-image: url("../../resources/images/banners/pride-east-african-safari.jpg");*/
}

.our-portfolio-homescreen {
  /*background-image: url("../../resources/images/banners/lions-head.jpg");*/
}

.disclaimer-homescreen {
  /*background-image: url("../../resources/images/banners/quirimbas-archipelago-tortoise.jpg");*/
}

/* These shouldnt be on the banners, the backgrounds are covers for the sections of the site...inside the site-container */
/*
.nav-banner-1 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 10%;
}

.nav-banner-2 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-3 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-4 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-5 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-6 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-7 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}

.nav-banner-8 {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-position: 50% 80%;
}*/

#about-wic, #our-impact, #media, #news-and-events, #about-us, #our-partners, #our-portfolio, #disclaimer, .banner, .layer-1, .layer-2 {
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer, .middle, .inner, .outer-halfspace, .inner-halfspace {
  z-index: 2;
  width: 100%;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer, .middle, .inner {
  background-image: url("../../resources/images/wic2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.outer-halfspace, .inner-halfspace {
  background-image: url("../../resources/images/banners/kilimanjaro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-impact-banner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.our-impact-banner .layer-1, .our-impact-banner .layer-2 {
  display: flex;
  flex-direction: row;
}

.layer-1 {
  z-index: 5;
}

.layer-2 {
  z-index: 10;
}

/*.right {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 25%;
  /*background-image: url("../../resources/images/banners/zambezi-river.jpg");*/
  /*background-color: black;
  background-attachment: fixed;
}*/

.left, .left-center, .right-center, .right {
  overflow: hidden;
  width: 25%;
  height: 100%;
}

.our-impact-banner img {
  height: 200%;
  width: auto;
}

.layer-2 img {
  height: 250%;
  width: auto;
}

.layer-1 .left img, .layer-1 .left-center img, .layer-1 .right-center img, .layer-1 .right img {
  margin-left: -600%;
}

.layer-2 img {
  margin-top: -140%;
  margin-left: -500%;
}

.our-impact-text h1, .our-impact-text span {
  margin-left: -100%;
}

#progress-bar {
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  height: 5%;
  margin: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 1000%);
}

footer {
  position: absolute;
  bottom: 6px;
  max-height: 5%;
  width: 100%;
}
