/* html START */

  html {
    font-size: 18px;
    color: #be9e55;
    font-family: "libre baskerville" serif;
  }

  html span {
    color: #4d5c59;
  }

  html h3 {
    color: #be9e55;
    font-family: times serif;
  }


/* html END */

/* fonts START */

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v15/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBYf9lW4e5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFlD-vYSZviVYUb_rj3ij__anPXBb__lW4e5g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fonts END */

/* body START */

  body {
    margin: 0;
    padding: 0;
    background-color: #fff9f1;
  }

/* body END */

/* header START */

  header {
    width: 100%;
    height: 65px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: #fff9f1;
    z-index: 10;
  }

/* header END */

/* site-container START */

  .site-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 65px;
  }

/* site-container END */

/* wic_logo START */

  .wic_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
  }

  .wic_logo span {
    font-size: 25px;
    color: #4a4a4a;
    font-family: "Playfair Display";
    padding-left: 5px;
    font-weight: bold;
  }

  @media only screen and (max-width: 850px) {
    .wic_logo {
      display: none;
    }
  }

/* wic_logo END */

/* logo START */

  .logo {
    height: 50px;
    width: 50px;
  }

  .logo img {
    width: auto;
    height: 100%;
  }

/* logo END */

/* header-container START */

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px;
  }

/* header-container END */

/* wic-logo START */



/* wic-logo END */

/* nav START */



/* nav END */

/* nav_items START */

  .nav_items {
    margin: 0;
    padding: 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media only screen and (max-width: 850px) {
    .nav_items {
      width: 100%;
    }
  }

/* nav_items END */

/* desktop START */

  .desktop a {
    color: #4a4a4a;
    text-decoration: none;
  }

  .desktop a:hover {
    color: rgb(30, 0, 181);
  }

  .desktop li {
    list-style: none;
    padding: 1.25px 10px;
  }

  .desktop ul {
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    float: right;
  }

  @media only screen and (max-width: 850px) {
    .desktop {
      display: none;
    }
  }

/* desktop END */

/* mobile START */

  .mobile {
    width: 100%;
    text-align: center;
  }

  .mobile a {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-size: 30px;
    font-family: "Playfair Display";
    font-weight: 900;
  }

  @media only screen and (min-width: 850px) {
    .mobile {
      display: none;
    }
  }

/* mobile END */

/* about_the_comp START */

  #about_the_comp {
    padding: 0px;
  }

/* about_the_comp END */

/* about_the_comp_banner START */

  .about_the_comp_banner {
    height: 300px;
    width: 100%;
    background-image: url("../../resources/images/kilimanjaro.jpg");
    background-size: cover;
  }

  @media only screen and (max-width: 1000px) {
    .about_the_comp_banner {
      height: 200px;
    }
  }

  @media only screen and (max-width: 900px) {
    .about_the_comp_banner {
      height: 250px;
    }
  }

  @media only screen and (max-width: 850px) {
    .about_the_comp_banner {
      display: none;
    }
  }

/* about_the_comp_banner END */

/* about_the_comp_text START */

  .about_the_comp_text {
    display: flex;
    flex-direction: column;
    padding: 32px 8px 32px 8px;
  }

  @media only screen and (max-width: 850px) {
    .about_the_comp_text {
      padding-bottom: 8px;
    }
  }

  .about_the_comp_text h1 {
    text-align: center;
  }

/* about_the_comp_text END */

/* media START */

 #media {
   padding: 0px;
 }

/* media END */

/* media_banner START */

  .media_banner {
    height: 300px;
    width: 100%;
    background-image: url("../../resources/images/serengeti_national_park.jpg");
    background-size: cover;
  }

  @media only screen and (max-width: 1000px) {
    .media_banner {
      height: 200px;
    }
  }

  @media only screen and (max-width: 900px) {
    .media_banner {
      height: 250px;
    }
  }

  @media only screen and (max-width: 850px) {
    .media_banner {
      display: none;
    }
  }

/* media_banner END */

/* media_text START */

  .media_text {
    padding: 32px 8px 32px 8px;
  }

  .media_text h1 {
    text-align: center;
  }

/* media_text END */

/* the_news START */

  .the_news {
    padding: 32px 0px;
  }

/* the_news END */

/* news_banner START */

.news_banner {
  height: 300px;
  width: 100%;
  background-image: url("../../resources/images/kirstenbosch_botanical_gardens.jpg");
  background-size: cover;
  background-position: left;
}

@media only screen and (max-width: 1000px) {
  .news_banner {
    height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .news_banner {
    height: 250px;
  }
}

@media only screen and (max-width: 850px) {
  .news_banner {
    display: none;
  }
}

/* news_banner END */

/* news_title START */



/* news_title END */


/* contacts START */

  #contacts {
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
  }

  .contacts_row_1, .contacts_row_2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 8px;
  }

  .contact_1, .contact_2, .contact_3, .contact_4 {
    padding: 16px;
    min-width: 50%;
  }

  .contact_1_bio, .contact_2_bio, .contact_3_bio, .contact_4_bio {
    text-align: justify;
  }

  #contacts h3 {
    text-align: center;
  }

  .contact_1_banner, .contact_2_banner, .contact_3_banner, .contact_4_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_1_mugshot, .contact_2_mugshot, .contact_3_mugshot, .contact_4_mugshot {
    width: 45%;
    display: flex;
    justify-content: center;
    height: 200px;
  }

  .contact_1_social_media, .contact_2_social_media, .contact_3_social_media, .contact_4_social_media {
    position: relative;
    top: 25%;
    height: 50px;
    padding: 12px;
    opacity: 0;
    display: flex;
    flex-direction: column;
  }

  .contact_1_mugshot, .contact_2_mugshot, .contact_3_mugshot, .contact_4_mugshot {
    background-image: url("../../resources/images/profile_pic.png");
    background-size: contain;
    background-position: center;
  }

  @media only screen and (max-width: 950px) {
    .contact_1_mugshot, .contact_2_mugshot, .contact_3_mugshot, .contact_4_mugshot {
      background-size: cover;
    }
  }

  .contact_1_mugshot:hover .contact_1_social_media, .contact_2_mugshot:hover .contact_2_social_media, .contact_3_mugshot:hover .contact_3_social_media, .contact_4_mugshot:hover .contact_4_social_media {
    opacity: 1;
  }

  .contact_1_mugshot:hover, .contact_2_mugshot:hover, .contact_3_mugshot:hover, .contact_4_mugshot:hover {
    opacity: 0.75;
  }

  #contacts i {
    margin: 8px;
  }

  .contacts_mobile {
    display: flex;
    flex-direction: column;
  }

  .contacts_mobile h2 {
    text-align: center;
  }

  .contacts_mobile a {
    color: rgb(77, 92, 89);
    text-decoration: none;
  }

  .c1_mobile, .c2_mobile, .c3_mobile, .c4_mobile {
    display: flex;
    justify-content: center;
  }

  .c1_mobile:hover, .c2_mobile:hover, .c3_mobile:hover, .c4_mobile:hover {
    background: rgb(77, 92, 89);
  }

  .c1_mobile:hover > div a, .c2_mobile:hover > div a, .c3_mobile:hover > div a, .c4_mobile:hover > div a {
    color: rgb(255, 255, 255);
  }

  @media only screen and (min-width: 850px) {
    .contacts_mobile {
      display: none;
    }
  }

  @media only screen and (max-width: 850px) {
    .contacts_desktop {
      display: none;
    }
  }

/* contacts END */

/* contacts_banner START */

.contacts_banner {
  height: 300px;
  width: 100%;
  background-image: url("../../resources/images/addo_elephant_national_park.jpg");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1000px) {
  .contacts_banner {
    height: 200px;
  }
}

@media only screen and (max-width: 900px) {
  .contacts_banner {
    height: 250px;
  }
}

@media only screen and (max-width: 850px) {
  .contacts_banner {
    display: none;
  }
}

/* contacts_banner END */

/* fa-envelope START */

  .fa-envelope {
    color: rgb(102, 211, 255);
  }

  .fa-envelope:hover {
    color: rgb(30, 0, 181);
  }

/* fa-envelope END */

/* fa-linkedin START */

  .fa-linkedin {
    color: rgb(0, 123, 181);
  }

  .fa-linkedin:hover {
    color: rgb(30, 0, 181);
  }

/* fa-linkedin END */

/* contacts_title START */

  .contacts_title {
    padding-bottom: 0px;
  }

  .contacts_title h1 {
    text-align: center;
    margin: 32px 0px 10px 0px;
  }

/* contacts_title END */

/* contacts_row_1 START */



/* contacts_row_1 END */

/* contacts_row_2 START */



/* contacts_row_2 END */

/* contact_1 START */



/* contact_1 END */

/* contact_1_banner START */



/* contact_1_banner END */

/* contact_1_mugshot START */



/* contact_1_mugshot END */

/* contact_1_bio START */



/* contact_1_bio END */

/* contact_1_social_media START */



/* contact_1_social_media END */

/* contact_2 START */



/* contact_2 END */

/* contact_2_banner START */



/* contact_2_banner END */

/* contact_2_mugshot START */



/* contact_2_mugshot END */

/* contact_2_bio START */



/* contact_2_bio END */

/* contact_3 START */



/* contact_3 END */

/* contact_3_banner START */



/* contact_3_banner END */

/* contact_3_mugshot START */



/* contact_3_mugshot END */

/* contact_3_bio START */



/* contact_3_bio END */

/* row START */



/* contact_4 END */

/* contact_4_banner START */



/* contact_4_banner END */

/* contact_4_mugshot START */



/* contact_4_mugshot END */

/* contact_4_bio START */



/* contact_4_bio END */

/* our_impact START */

  #our_impact {
    padding: 0px;
  }

/* our_impact END */

/* our_impact_banner START */

  .our_impact_banner {
    height: 300px;
    width: 100%;
    background-image: url("../../resources/images/zambezi_river.jpg");
    background-size: cover;
    background-position: bottom;
  }

  @media only screen and (max-width: 1000px) {
    .our_impact_banner {
      height: 200px;
    }
  }

  @media only screen and (max-width: 900px) {
    .our_impact_banner {
      height: 250px;
    }
  }

  @media only screen and (max-width: 850px) {
    .our_impact_banner {
      display: none;
    }
  }

/* our_impact_banner END */

/* our_impact_text START */

  .our_impact_text {
    padding: 32px 8px 32px 8px;
  }

  .our_impact_text h1 {
    text-align: center;
  }

/* our_impact_text END */

/* the_sadc START */



/* the_sadc END */

/* sadc_text START */

  .sadc_text h2 {
    text-align: center;
  }

/* sadc_text END */

/* sadc_montage START */



/* sadc_montage END */

/* sdg START */

  .sdg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

/* sdg END */

/* sdg_text START */

  .sdg_text {
    width: 100%;
  }

  .sdg_text h2 {
    text-align: center;
  }

/* sdg_text END */

/* sdg_icons_container START */

  .sdg_icons_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 95%;
    padding: 5px;
  }

  .sdg_icons_container img {
    width: 100%;
    padding: 0;
  }

  .row_1, .row_2, .row_3, .row_4 {
    display: flex;
    padding: 2px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .row_container_1, .row_container_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  @media only screen and (max-width: 850px) {
    .row_container_1, .row_container_2 {
      flex-wrap: wrap;
    }
  }

  .sdg_icon_container_1, .sdg_icon_container_2, .sdg_icon_container_3, .sdg_icon_container_4, .sdg_icon_container_5, .sdg_icon_container_6, .sdg_icon_container_7, .sdg_icon_container_8, .sdg_icon_container_9, .sdg_icon_container_11, .sdg_icon_container_12, .sdg_icon_container_13 {
    width: 33%;
    display: block;
    justify-content: space-between;
  }

  @media only screen and (max-width: 850px) {
    .sdg_icon_container_1, .sdg_icon_container_2, .sdg_icon_container_3, .sdg_icon_container_4, .sdg_icon_container_5, .sdg_icon_container_6, .sdg_icon_container_7, .sdg_icon_container_8, .sdg_icon_container_9, .sdg_icon_container_11, .sdg_icon_container_12, .sdg_icon_container_13 {
      width: 33%;
      display: block;
      justify-content: space-between;
    }
  }

  .sdg_icon_container_5, .sdg_icon_container_8 {
    background-size: cover;
    background-position: center;
  }

  .sdg_icon_container_5 {
    background-image: url("../../resources/images/sdg_5.png");
  }

  .sdg_icon_container_8 {
    background-image: url("../../resources/images/sdg_8.png");
  }

  .description_5, .description_8 {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    padding: 6px;
  }

  .description_5 {
    background-color: rgb(247, 7, 39);
  }

  .description_8 {
    background-color: rgb(130, 36, 48);
  }

  .description_5 span, .description_8 span {
    color: rgb(255, 255, 255);
    font-size: 14px;
  }

  @media only screen and (max-width: 980px) {
    .description_5 span, .description_8 span {
      color: rgb(255, 255, 255);
      font-size: 0.70rem;
    }
  }

  .sdg_icon_container_5:hover > .description_5, .sdg_icon_container_8:hover > .description_8 {
    visibility: visible;
  }

  .sdg_icon_container_5:hover, .sdg_icon_container_8:hover {
    background-image: none;
  }

  #sdg_1, #sdg_2, #sdg_3, #sdg_4, #sdg_6, #sdg_7, #sdg_9, #sdg_11, #sdg_12, #sdg_13 {
    opacity: 0.15;
    z-index: 2;
  }

  #sdg_5, #sdg_8 {
    opacity: 1;
    z-index: 2;
  }

  @media only screen and (max-width: 850px) {
    .description_5 span, .description_8 span {
      font-size: 18px;
    }
  }

/* sdg_icons_container END */

/* row_1 START */



/* row_1 END */

/* row_2 START */



/* row_2 END */

/* sdg_icon_container START */



/* sdg_icon_container END */

/* sdg_1 START */



/* sdg_1 END */

/* sdg_2 START */



/* sdg_2 END */

/* sdg_3 START */



/* sdg_3 END */

/* sdg_4 START */



/* sdg_4 END */

/* sdg_5 START */



/* sdg_5 END */

/* sdg_6 START */



/* sdg_6 END */

/* sdg_7 START */



/* sdg_7 END */

/* sdg_8 START */



/* sdg_8 END */

/* sdg_9 START */



/* sdg_9 END */

/* sdg_11 START */



/* sdg_11 END */

/* sdg_12 START */



/* sdg_12 END */

/* sdg_13 START */



/* sdg_13 END */


/* footer START */

  footer {
   display: flex;
   flex-direction: row;
   padding: 0px 10px;
   height: 50px;
   justify-content: space-between;
   align-items: center;
   position: relative;
   top: 100px;
 }

 @media only screen and (max-width: 850px) {
  footer {
    justify-content: center;
  }
 }

/* footer END */

/* footer-text START */

  }
  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }

  .footer-text span {
    font-size: 18px;
    color: #be9e55;
    font-family: garamond;
  }

  .footer-text a {
    text-decoration: none;
    color: #be9e55;
  }

  .footer-text a:hover {
    color: rgb(30, 0, 181);
  }

  @media only screen and (max-width: 850px) {
    .footer-text {
      display: none;
    }
  }

/* footer-text END */

/* footer-logo START */

  .footer-logo {
    display: flex;
    flex-direction: row;
    min-width: 50%;
    align-items: center;
  }

  .footer-logo span {
    padding-left: 10px;
    color: #4a4a4a;
    font-size: 16px;
    font-family: garamond;
  }

  @media only screen and (max-width: 850px) {
    .footer-logo span {
      text-align: center;
    }
  }

/* footer-logo END */

/* copyright START */



/* copyright END */
